title: Wander- und Mountainbike-Touren im Hunsrück
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
permalink: ':title/'
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
site-twitter: #if your site has a twitter account, enter it here

# Author Settings
author: Peter Reuter # add your name
author-img: peter-reuter.jpg # add your photo
about-author: >
  Hunsrücker mit Leib und Seele. Gerne draußen unterwegs, am liebsten auf dem Mountainbike, aber auch immer wieder gern zu Fuß oder mit der Kutsche. 
  Wer eine geführte Tour sucht, kann sich gerne unter unten stehende E-Mail-Adresse bei mir melden.
social-email: tours@reuter-hunsrueck.de # add your Email address
social-outdooractive: https://www.outdooractive.com/de/author/peter-reuter/114754892/

# Disqus
#discus-identifier: mr-brown # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

paginate: 8
paginate_path: "/page/:num"

exclude: [.gitignore', 'Gemfile', 'Gemfile.lock', "vendor", ".sass-cache", ".git", "node_modules", "gulpfile.js", "package.json", "yarn.lock"]
